.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
_multiconfig.yml
npm-debug.log*
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak

*.pid
*.seed
*.tgz
*.env
*.local
*.cache/
coverage/

.obsidian/