.DS_Store
Thumbs.db
db.json
*.log
node_modules/
# public/*  # 注释掉这一行，确保 public 目录下的静态资源能被推送到 gh-pages 分支
.deploy*/
_multiconfig.yml
npm-debug.log*
.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak

*.pid
*.seed
*.tgz
*.env
*.local
*.cache/
coverage/

themes/