[submodule "themes/arknights"]
	path = themes/arknights
	url = https://github.com/Yue-plus/hexo-theme-arknights.git
[submodule "themes/kratos-rebirth"]
	path = themes/kratos-rebirth
	url = https://github.com/Candinya/Kratos-Rebirth.git
[submodule "themes/next"]
	path = themes/next
	url = https://github.com/next-theme/hexo-theme-next.git
